.board::-webkit-scrollbar {
  width: 5px;
  display: none;
}

.board::-webkit-scrollbar-thumb {
  border-radius: 50px;
  /* border: 1px solid #ccc; */
  background-color: #7cc4ff;
}

.board::-webkit-scrollbar-thumb:hover {
  border: 1px solid gray;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px 2vw;
  background-color: rgb(234, 241, 242);
  

}
.app::-webkit-scrollbar{
  display: none;
}

.app_nav{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 20px;
}
.app_nav h1 {
  font-family: 'Roboto', sans-serif;
  color: #4169E1;
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.app_boards_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-top: 20px;
  margin-bottom: 20px;
  /* overflow-y :hidden; */
}
.app_boards_container::-webkit-scrollbar{
  display: none;
}

.app_boards {
  height: 100%;
  width: fit-content;
  padding: 10px 30px;
  display: flex;
  gap: 30px;
  height: 100vh;
  /* overflow: hidden; */
  /* overflow-x:hidden; */

  
}

.app_boards_last {
  flex-basis: 290px;
  min-width: 290px;
}

.app_boards_add-board {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
  width: 100%;
  text-align: center;
}
.darka{
  background: #3e3e3e;
  color: #fff;
}
.darka:hover{
  background: #555555;
  color: #fff;
}
.app_boards_add-board_edit {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.dark {
  
  background: #343434;
  color: #fff;
}
@media screen and (max-width:600px){

  .app_nav h1{
    font-size: 25px;
  }
  .app_boards {
    padding: 10px;
  }
}
[data-theme="dark"]{
  --text-color: #fcfcfc;
  --background-color: #1d1c1c;
}